.text {
  border-bottom: 10px solid #e4cd05;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.06px;
  line-height: 28px;
  font-size: 28px;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.8);
  left: 0;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  z-index: 10;
  padding-bottom: 70px;
  width: 100%;
  opacity: 1;
  pointer-events: none;
}
.cardtext {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  opacity: 1;
  padding-top: 150px;
}

.image-last-card {
  width: 300;
  height: 180;

  margin-left: 3px;
  margin-top: 3px;
}
.subtext {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 300;
  position: absolute;
  top: 30%;
  left: 0;
  text-align: center;
  color: #080808;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.col {
  height: 400px;
  width: 300px;
  float: left;
}
.findmore {
  font-size: 14px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  min-width: 185px;
  padding: 10px 20px;
  background-color: #036;
  color: #fff;
  margin-top: 2.5%;
  display: inline-block;
}

.findiv {
  background-image: url("https://www.keralatourism.org/images/kt//bg/sky-1.jpg");
  background-repeat: no-repeat;
}
